*{
    margin: 0; padding:0; box-sizing: border-box;
    font-family: 'Mulish', sans-serif;}
    .grand_parent{ min-width: 100vw; min-height:100vh;
        background: #dfe6e9; color: #fff; }
    h2{
        font-size: 4rem;
        padding: 20px 0;
        text-align: center;
        color: #000;
    }
    body {
        overflow-x: hidden; /* Hide scrollbars */
    }
    .search{
        padding: 20px;

    }
    p{
        text-align: center;
    }
    table{
        color: #000;
        height: 50%;

    }
    tr,td,th{
        padding: 20px;
        align-content: center;
        font-weight: bold;

    }
    th{
        font-size: 19px;
        font-weight: bolder;
        background-color: #b2e4fa;
    }